@import "./reset/basic-reset";

$primaryColor: #f5f5f5;

body {
	background-color: $primaryColor;
	margin:0;
}

#gmap-wrapper{
		width:100%;
		height:108vh;
		position:fixed;
		transform: translate(-50%,-50%);
		top:50%;
		left:50%;
		z-index: 1;
}

#googleMap{
	width:100%;
	height:100%;
}

.pin{
	cursor:pointer;
	width:80px;
	height:80px;
	transform: translate(-50%,-100%);
	background-image:url('/images/themedMarkers.png');
	background-size:320px 80px;

	div{
		width: 50px;
		height: 50px;
		margin-top: 5px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 50%;
		overflow: hidden;

		img {
			height: 50px;
			width: 50px;
		}
	}
}
#popup-wrap {
	display:none;
		width: 100%;
		height: 100%;
		/* background-color: white; */
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		text-align: center;
}
.pin.tag1{
	background-position: -1px center;
}

#popup-wrap:after {
		content:'';
		border-top: 10px solid #fff;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		/* position: absolute; */
		position: relative;
		top: -6px;
}

.social-bar {
	margin-top:35px;
	display: flex;

	.likes-Wrap {
		max-width: 30px;
		display: flex;
		margin-right: 10px;

		img {
			width: 20px;
			height: 20px;
		}
	}

	.dislikes-Wrap {
		max-width: 30px;
		display: flex;

		img {
			width: 20px;
			height: 20px;
		}
	}
}

.popup {
		width: 50vw;
		background-color: #fff;
		height: calc(50vh - 110px);
		margin: 1em auto;
		padding: 20px;
		text-align: left;
		box-shadow: 0 3px 5px #888;
		border-radius: 8px;
}

.popup-title {
		font-size: 1.5em;
}

.popup-message {
		padding: 10px 0;
		min-height:80px;
}

///
//ADD PIN FORM STYLES
#formBackground {
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 2;
		background-color: rgba(135, 135, 135, 0.36);
}

#formBackground.hide {
	top: 150%;
	z-index: -30;
}

#addPinFormWrap.hide {
	top: -150%;
	z-index: -30;
}

#addPinFormWrap {
		position: fixed;
		width: 90%;
		z-index: 10;
		top: 5%;
		left: 5%;
		transition: top 0.8s ease-out;

	#addPinForm {
		position: absolute;
		z-index: 15;
		width: 100%;
		background-color: #fff;
		box-shadow: 10px 10px 15px rgb(135, 135, 135);
		border-radius: 10px;
		padding: 20px 10px;
	}
		.pinFormTitleWrap, .formItems, .buttonWrap {
			width: 98%;
			margin: 0 auto;
		}

	//INPUT basic Styles
	input {
		width: 100%;
		margin: 3px;
		border-radius: 7px;
	}
	//FORM TITLE
		.pinFormTitleWrap {

			.pinFormTitle {
				margin: 0 auto;
				text-align: center;
				font-size: 2em;
			}
	}

	///BETA SECTION
	//
	.beta-testing {

		img {
			width: 20px;
			height: 20px;
			margin: -2px 3px 3px 3px;
			float: left;
			cursor: pointer;
		}
		p {
			min-width: 80%;
		}
		#betaTestFieldWrap {
			width: 100%;
			display: none;
		}
		.visible {
			display: block !important;
		}
	}

	//FORM INPUT ITEMS
	.formItems {
//		width: 100%;

		//Button STYLES

	}

	.buttonWrap {
			position: relative;
			height: 45px;

			.button {
				background-color: #4ba34f; /* Green */
				position: absolute;
				border: none;
				color: white;
				transform: translateX(-50%);
				left: 50%;
				top: -10%;
				padding: 15px 32px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				cursor: pointer;
				border-radius: 10px;
			}
		}
}

		///FOOTER
	//Contains User profiles
	//
footer {
	position: fixed;
	bottom:0;
	left: 0;
	right: 0;
	height: 45px;
	background-color: rgba(75, 163, 79, 0.77);
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	z-index: 35;
	transition: height 1.5s, border-top-left-radius 1s, border-top-right-radius 1s;
}

footer.move {
	height: 100% !important;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#hamburger-menu {
		stroke: #fff;
		width: 100%;
		cursor:pointer;
	#hamburger{
		margin: 3px auto;
		width: 40px;
	}
}

#mainMenuItems {
	margin: 35% auto;
	max-width: 50%;
	position: relative;

	h2 {
		font-size: 3em;
		cursor:pointer;
		translate: text-shadow .2s;
	}
	h2:hover{
		text-shadow: 0 0 5px rgba(0,0,0,0.6);
	}
}

#loginMenu, #alreadyLogged {
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	width: 100%;
	color: #fff;
}

#loginMenu.hide, #alreadyLogged.hide {
	opacity: 0;
	z-index:-200;
	transform: translateY(300%);
}

#profilePage {
	position: absolute;
	width: 92%;
	background-color: rgba(255,255,255,0.6);
	border-radius: 5px 5px 0 0;
	transform: translate(-50%, 250%);
	left: 50%;
	transition: transform 1.5s;

	#userInfo {
		display: flex;

		#userPicWrap{
			margin: 5px;
		}

		h2 {
			font-size: 2.1em;
			text-transform: uppercase;
			font-weight: 600;
			margin: 5% 0;
		}
	}
}

#profilePage.show {
	transform: translate(-50%, -20%);
}

#favoriteList{columns:2;}
